<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BrainFlux.AutoInput.mapper.ScheduleTaskMapper">
    <!--<resultMap id="BaseResultMap" type="com.BrainFlux.AutoInput.domain.ScheduleTask">-->
        <!--&lt;!&ndash;@Table schedule_task&ndash;&gt;-->
        <!--<result property="tid" column="tid" jdbcType="VARCHAR"/>-->
        <!--<result property="executeTime" column="executeTime" jdbcType="DATE"/>-->
        <!--<result property="taskPath" column="task_path" jdbcType="VARCHAR"/>-->
        <!--<result property="expireTime" column="expireTime" jdbcType="DATE"/>-->
        <!--<result property="startTime" column="startTime" jdbcType="DATE"/>-->
        <!--<result property="taskType" column="task_type" jdbcType="VARCHAR"/>-->
        <!--<result property="additionOne" column="addition_one" jdbcType="VARCHAR"/>-->
        <!--<result property="additionTwo" column="addition_two" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <insert id="addNewScheduleTask" keyProperty="tid" useGeneratedKeys="false">
        insert into umpc.schedule_task(tid, task_path,execute_time, expire_time, start_time,task_type,task_status,addition_one,addition_two,execute_interval,latest_execute)
        values (#{tid}, #{taskPath}, #{executeTime}, #{expireTime},#{startTime},#{taskType},#{taskStatus},#{additionOne},#{additionTwo},#{executeInterval},#{latestExecute})
    </insert>
    <select id="selectScheduleTaskByType" resultType="com.BrainFlux.AutoInput.domain.Vo.ScheduleTaskVo">
        select * from schedule_task
        <where>
            task_type =#{taskType}
        </where>
    </select>
    <select id="selectAllScheduleTask" resultType="com.BrainFlux.AutoInput.domain.Vo.ScheduleTaskVo">
        select * from schedule_task
    </select>
    <select id="selectAllScheduleTaskByTime" resultType="com.BrainFlux.AutoInput.domain.Vo.ScheduleTaskVo">
        select * from schedule_task
        <where>
            start_time >=#{startTime}and expire_time &lt;=#{expireTime}
        </where>
    </select>

    <select id="selectAllScheduleTaskByQuery" resultType="com.BrainFlux.AutoInput.domain.Vo.ScheduleTaskVo">
        select * from schedule_task
        <where>
             1=1
            <if test="startTime != null and expireTime != null">
             and start_time >=#{startTime}and expire_time &lt;=#{expireTime}
            </if>
            <if test="taskType != null and taskType !=  '' ">
                and  task_type =#{taskType}
            </if>
            <if test="tid != null and tid !=  '' ">
                and  tid =#{tid}
            </if>
        </where>
    </select>

    <select id="selectAllActivedScheduleTaskByQuery" resultType="com.BrainFlux.AutoInput.domain.Vo.ScheduleTaskVo">
        select * from schedule_task
        <where>
            task_status=1
            <if test="startTime != null and expireTime != null">
                and start_time >=#{startTime}and expire_time &lt;=#{expireTime}
            </if>
            <if test="taskType != null and taskType !=  '' ">
                and  task_type =#{taskType}
            </if>
            <if test="tid != null and tid !=  '' ">
                and  tid =#{tid}
            </if>
        </where>
    </select>

    <update id="editScheduleStatusByEid">
        update umpc.schedule_task
        <set>
            <if test="taskStatus != null and taskStatus != ''">
            task_status =#{taskStatus}
            </if>
        </set>
        <where>
           tid = #{tid}
        </where>
    </update>
    <update id="updateLatestExecuteByEid">
        update umpc.schedule_task
        <set>
            <if test="latestExecute != null">
                latest_execute =#{latestExecute}
            </if>
        </set>
        <where>
            tid = #{tid}
        </where>
    </update>
</mapper>
